<div>
  <h1>Listas de Reproducción</h1>

  <!-- Verifica si existen listas de reproducción -->
  <div *ngIf="playlists.length > 0; else noPlaylists">
    <ul>
      <!-- Recorre las listas de reproducción y las muestra -->
      <li *ngFor="let playlist of playlists">
        <strong>{{ playlist.nombre }}</strong><br>
        <em>{{ playlist.descripcion }}</em><br>

        <!-- Mostrar canciones dentro de la lista de reproducción -->
        <ul>
          <li *ngFor="let song of playlist.canciones">
            {{ song.titulo }} - {{ song.artista }} ({{ song.album }} - {{ song.anno }}, {{ song.genero }})
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Si no hay listas de reproducción -->
  <ng-template #noPlaylists>
    <p>No se encontraron listas de reproducción.</p>
  </ng-template>

</div>
